@font-face {
    font-family: "UFT";
    src: url("../cdn/Ubuntu-R.ttf");
}

body{ 
	font-family:UFT;
	background: url(../cdn/bg.webp) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#87CEEB;
}

table{
	table-layout: fixed;
}

td {
  padding-left: 50px;
  padding-right: 50px;
}

.over {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title_v2{
	text-shadow:1px 1px 1px black;
	color:darkblue;
	font-size:36px;
}

.container{
	overflow: auto;
	height:300px;
	width:100%;
	background-color:GhostWhite;
	margin:auto;
	border-radius: 15px 15px 15px 15px;
	display: block;
	box-shadow:2px 2px 2px black;
}

.ct{
	padding:10px;
}

/*A fancy button*/
.fancybutton {
  color:Black;
  text-align:center;
  /*border: 1px solid RoyalBlue;*/
  box-shadow: 0 0 2pt 1pt DarkGray;
  padding:1px;
  border-radius: 5px 5px;
  background-color:#87CEEB;
}
.fancybutton:hover{
  background-color:#67AECB;
  /*border:1px solid LightSkyBlue;*/
}
.fancybutton:active{
  background-color:#77BEDB;
  /*border:1px solid MediumBlue;*/
}
